<?php


$config = array(

    'title'         => '',
    'subtitle'      => '',
    'logo'          => '',
    'address'       => '',
    'rewardEvery'   => '1',
    'minReward'     => '1',
    'maxReward'     => '10',
    'timezone'      => 'pacific/auckland',
    'db'            => array(
        'user'     => '',
        'database' => '',
        'password' => '',
        'host'     => '',
    ),

    'recaptcha'     => array(
        'site_key'   => '',
        'secret_key' => '',
    ),

    'rpc_url' => '',
    'rpc_wallet_address' => '', 
    'ga_analytics' => '',

    'clearedAddresses' => array(
        'SvjorwMet4HeNS6kjrB8CReaPU43fLnKBfcTdnLsGrDtUdAe8GDLQdiMYgQJt9HR1fJy1dhp59pr2UWBPhgaR6fh2AiDhfNZf' //cryptohub
    )

);


